/* Filter popup */
.filter-popup > .filter-box {
    -fx-spacing: 0.333333em;
    -fx-padding: 0.333333em;
    -fx-pref-width: 33.333333em;
    /* Copied from combo-box popup. */
    -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-color,-17%),
            derive(-fx-color,-30%)
        ),
        -fx-control-inner-background;
    -fx-background-insets: -1 -1 -1 -1, 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.filter-box > .header,
.filter-box > .footer,
.filter-box > .footer > .reset-buttons {
    -fx-spacing: 0.333333em;
}

.filter-box > .list-view {
    -fx-pref-height: 20em;
}
